@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


*{
    margin: 0%;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;

    
}


:root{
    font-size: 1.1vw;
    --cor:rgb(255, 255, 255);
    background-color: rgb(54, 148, 87);
    --cor-escura:rgb(31, 96, 50);;

    font-family: 'Roboto Condensed', sans-serif;
    
}




header{
    color:var(--cor);
    position: fixed;
    top: 0;
    
    display: flex;
    font-size: 2rem;
    height: 5rem;
    padding: 0 1.5rem;
    width: 100%;
    background-color: var(--cor-escura);
    align-items: center;
    justify-content: center;
}


.logo{
    border: white 2px solid;
    padding: 2px 16px;
}

.logo1{
    font-size: 1.6rem;
}

.logo2{
    font-size: 1.4rem;
}


a{
    color: var(--cor);
    text-decoration: none;
}





.container{
    max-width: 1080px;
    margin:auto;

    
    
}

.row{
    margin-top: 6.5rem;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin-top: 2rem;
    flex:0 0 33.333%;
    padding: 0 .75rem;
}

.card:hover{
    text-decoration: underline;
}

.card-name{
    padding-top: 0.3rem;
    text-align: center;
    font-size: 4vh;
}

.card-img img{
    height: 440px;
    width: 320px;
    outline:solid 2px white;
}



@media screen and (max-width: 1080px){
    
}

@media screen and (max-width: 769px){


}